[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-dim"]
	path = pack/plugins/start/vim-dim
	url = git@github.com:jeffkreeftmeijer/vim-dim.git
	branch = main
[submodule "pack/plugins/start/vim-numbertoggle"]
	path = pack/plugins/start/vim-numbertoggle
	url = git@github.com:jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "pack/plugins/start/vim-nightfall"]
	path = pack/plugins/start/vim-nightfall
	url = git@github.com:jeffkreeftmeijer/vim-nightfall.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.git
