[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-dim"]
	path = pack/plugins/start/vim-dim
	url = git@github.com:jeffkreeftmeijer/vim-dim.git
